<div class="main" id="resume">
  <div class="container">
    <div class="headline">
      <h1 class="name">
        Michael Lunøe
      </h1>
      <h3>
        Frontend Engineer
      </h3>
    </div>

    <div class="picture-wrapper">
      <img class="picture" ng-src="img/profile.png" />
    </div>


    <div class="contact">
      <h2>
        Contact
      </h2>
      <div class="content">
        <table>
          <tr>
            <td class="label">
              <a
                href="https://www.google.com/maps/place/san+francisco+ca"
                target="_blank">
                <div class="icon-wrapper">
                  <i class="icon-map-marker icon-large"></i>
                </div>
              </a>
            </td>
            <td class="value"><span>San Francisco, CA</span></td>
          </tr>

          <tr>
            <td class="label">
              <a href="mailto:michael.lunoe@gmail.com">
                <div class="icon-wrapper">
                  <i class="icon-envelope icon-large"></i>
                </div>
              </a>
            </td>
            <td class="value">
              <a href="mailto:michael.lunoe@gmail.com">
                michael.lunoe@gmail.com
              </a>
            </td>
          </tr>

          <tr>
            <td class="label">
              <a href="tel:+14154136613">
                <div class="icon-wrapper">
                  <i class="icon-phone icon-large"></i>
                </div>
              </a>
            </td>
            <td class="value">
              <a href="tel:+14154136613">(+1) 415 413-6613</a>
            </td>
          </tr>
        </table>

        <span class="social">
          <a
            href="http://stackoverflow.com/users/1008519/mlunoe"
            target="_blank"
            tooltip-placement="bottom"
            tooltip-html-unsafe='
              <span class="stack-info">
                {{stackOverflow.score}}
              </span>
              <span class="gold badgecount">
                <i class="icon-circle"></i>{{stackOverflow.badge_counts.gold}}
              </span>
              <span class="silver badgecount">
                <i class="icon-circle"></i>{{stackOverflow.badge_counts.silver}}
              </span>
              <span class="bronze badgecount">
                <i class="icon-circle"></i>{{stackOverflow.badge_counts.bronze}}
              </span>
            '>
            <div class="icon-wrapper">
              <i class="icon-stack-overflow icon-large"></i>
            </div></a>

          <a href="https://github.com/mlunoe" target="_blank">
            <div class="icon-wrapper">
              <i class="icon-github-alt icon-large"></i>
            </div></a>

          <a href="https://twitter.com/mlunoe" target="_blank">
            <div class="icon-wrapper">
              <i class="icon-twitter icon-large"></i>
            </div></a>

          <a href="https://www.linkedin.com/in/mlunoe" target="_blank">
            <div class="icon-wrapper">
              <i class="icon-linkedin icon-large"></i>
            </div></a>
        </span>

      </div>
    </div>

    <div class="section">
      <h2>
        Summary
      </h2>
      <div class="content">

        <p>
          Throughout my career, I have worked with different technologies and target consumers focusing on delivering a high standard of software engineering principles, with the main focus on client-side development.
        </p>

        <p>
          This, along with my broad understanding of users and design, has provided me with the tools to build great development environments to deliver consumer-facing products. At Square, I leverage my broad skill set to bridge design and software engineering to drive the team to apply and uphold the rest of <a href="https://squareup.com">Square</a> to high engineering standards.
        </p>
      </div>
    </div>

    <div class="section">
      <h2>
        Skills
      </h2>
      <div class="content">
        <ul>
          <li>
            <span>
              Proficient <br/>
              <rt>
                JavaScript, React, Ember, Node, AngularJS, HTML, CSS, NPM, Git, Webpack, Gulp, Broccoli, Jasmine, Mocha, Sinon, Cypress.io, Objective-C, Java (Android)
              </rt>
            </span>
          </li>
          <li>
            <span>
              Intermediate <br/>
              <rt>
                Backbone, jQuery, SML, Grunt, Karma, Ruby, PHP, Illustrator
              </rt>
            </span>
          </li>
          <li>
            <span>
              Basic <br/>
              <rt>
                Socket.io, Python, Bash, Sketch, Photoshop
              </rt>
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="section">
      <h2>
        Experience
      </h2>
      <div class="content">
        <div class="position first">
          <div class="company-name">
            <a href="https://www.squareup.com">
              <img src="img/square.jpg" />Square Inc.
            </a>
          </div>
          <date class="timestamp">05 / 2017 - Present</date>

          <div class="title">Software Engineer</div>
          <div class="job-summary">
            <p>
              Building the systems (CI/CD, test builder/runner, and assets build/pipeline) and UI components used by 100+ product engineers setting the bar for code quality and best practices. Architect efficient and reusable front-end systems that drive complex web applications.
            </p>
          </div>
        </div>

        <div class="position">
          <div class="company-name">
            <a href="https://www.mesosphere.com">
              <img src="img/mesosphere.png" />Mesosphere Inc.
            </a>
          </div>
          <date class="timestamp">04 / 2014 - 05 / 2017</date>

          <div class="title">Frontend Engineer</div>
          <div class="job-summary">
            <p>
              Built a team in San Francisco and in Hamburg, from the ground up, with infrastructure to develop frontend solutions for mulit-container and multi-server software for companies with large data requirements.
            </p>
          </div>
        </div>

        <div class="position">
          <div class="company-name">
            <a href="http://www.creuna.dk">
              <img src="img/creuna.png" />Creuna A/S
            </a>
          </div>
          <date class="timestamp">09 / 2012 - 04 / 2014</date>

          <div class="title">Consultant, frontend developer</div>
          <div class="job-summary">
            <p>
              Professionally developing web applications to strengthen the character of clients and their brands digitally. Discussing creative solutions, user experience and implementation of these to solve clients digital problems.
            </p>
          </div>

        </div>
        <div class="position">
          <div class="company-name">
            <a href="http://www.creuna.dk">
              <img src="img/creuna.png" />Creuna A/S
            </a>
          </div>
          <date class="timestamp">03 / 2011 - 09 / 2012</date>

          <div class="title">Frontend developer, student worker</div>

          <div class="job-summary">
            <p>
              Learning about the process of professionally developing web and mobile applications to strengthen the character of clients and their brands digitally. Working with novel assignments, but predominantly with mobile development.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h2>
        Education
      </h2>

      <div class="content">
        <div class="education first">
          <date class="timestamp">2010 - 2012</date>
          <div class="school-name">
            <a href="http://www.dtu.dk/">
              <img src="img/dtu.jpg" />Technical University of Denmark
            </a>
          </div>

          <div class="program">
            <span class="degree">Master of Science,</span>
            <span class="field-of-study">
              Engineering ­ Digital Media Engineering:<br/>
              Web 2.0 Services and Mobile Applications
            </span>
          </div>

          <div class="activities">
            <p>
              I have in this study learnt to apply my skills in software development to create user friendly and personalised applications for web and mobile platforms.
            </p>
            <p>
              Thesis:
              <a href="http://www2.imm.dtu.dk/pubdb/views/publication_details.php?id=6386">Optimising the Editorial Mix for a Digital Newspaper using Constraint Programming</a>.
            </p>
          </div>

        </div>
        <div class="education">
          <date class="timestamp">2007 - 2010</date>

          <div class="school-name">
            <a href="http://www.dtu.dk/">
              <img src="img/dtu.jpg" />Technical University of Denmark
            </a>
          </div>

          <div class="program">
            <span class="degree">Bachelor of Science,</span>
            <span class="field-of-study">Engineering Software Technology</span>
          </div>

          <div class="activities">
            <p>
              The study earned me an all-round education in mathematical and computer science principals of software development. The study has provided me with a good understanding of human-computer interaction and the tools used to develop fast and intelligent software.
            </p>
            <p>
              Thesis: <a href="http://etd.dtu.dk/thesis/264186/">
                A Logical Approach to Comparison of Music
              </a>.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h2>
        Languages
      </h2>
      <div class="content">
        <ul>
          <li>
            <span>Danish <rt>(native)</rt></span>
          </li>
          <li>
            <span>English <rt>(written and spoken fluently)</rt></span>
          </li>
          <li>
            <span>German <rt>(understood and partially spoken)</rt></span>
          </li>
          <li>
            <span>Swedish <rt>(able to communicate)</rt></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="second" id="portfolio" ng-show="portfolio.length > 0">
  <div class="container">
    <h2>Portfolio</h2>
    <table>
      <tr ng-repeat="item in portfolio" ng-click="openDialog(item)">
        <td><img class="picture" ng-src="{{item.img_small}}" /></td>
        <td class="content">
          <span class="text" ng-bind-html-unsafe="item.summary"></span>&nbsp;
          (<a>read about it</a>)
        </td>
      </tr>
    </table>
  </div>
</div>

<div id="feed" class="third">
  <div class="container">
    <h2 ng-show="feed.activity.length > 0">Twitter comments</h2>
    <ul class="twitter">
      <li ng-repeat="activity in feed.activity | orderBy: '-date' | limitTo: 10">
        <table>
          <tr ng-show="activity.feed_type == 'twitter'">
            <td>
              <img
                ng-if="activity.user.profile_image_url"
                ng-src="{{activity.user.profile_image_url}}" />
            </td>
            <td class="content">
              <a
                href="https://twitter.com/{{activity.user.screen_name}}"
                target="_blank">
                  @{{activity.user.screen_name}}
              </a>
              <div ng-bind-html-unsafe='activity.text | linkify | atify'></div>
              <date class="timestamp">{{activity.date | relativeTime}}</date>
            </td>
          </tr>

          <tr ng-show="activity.feed_type == 'github'">
            <td>
              <img
                ng-if="activity.actor.avatar_url"
                ng-src="{{activity.actor.avatar_url}}" />
            </td>
            <td class="content">
              <a href="https://github.com/mlunoe" target="_blank">
                @{{activity.actor.login}}
              </a>
              <div ng-bind-html-unsafe="activity.text"></div>
              <date class="timestamp">{{activity.date | relativeTime}}</date>
            </td>
          </tr>
        </table>
      </li>
    </ul>
  </div>
</div>
